.frame {
  border: solid black 50px;
  width: 500px;
  padding: 50px; /* Separation between the frame and the content (the white space) */
  margin: 20px auto; /*This will move the frame down 20 pixels and horizontally center it on the page. */
}

.canvas {
  width: 500px;
  height: 600px;
  background-color: #4d0f00;
  /* padding: 1px; This padding gives the .one element something solid to push off of*/
  overflow: hidden;
  filter: blur(2px) ;
}

.one {
  background-color: #efb762;
  width: 425px;
  height: 150px;
  margin: 20px auto; /*Centers the first painting and separates it a bit from the canvas */
  box-shadow: 0 0 3px 3px #efb762; /*Gives the painting a shadow across its borders */
  border-radius: 9px;  /*Roundes the border of the element*/
  transform: rotate(-0.6deg); /*Rotates the  */
}

.two {
  width: 475px;
  height: 200px;
  background-color: #8f0401;
  margin: 0 auto 20px;
  box-shadow: 0 0 3px 3px #8f0401; 
  border-radius: 8px 10px;
  transform: rotate(0.4deg);
}

.three {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  filter: blur(2px);
  box-shadow: 0 0 5px 5px #b20403; 
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.2deg);
}

.one, .two {
  filter: blur(1px);
}